<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICES</title>

    <link rel="stylesheet" href="services.css">
        <script src="https://kit.fontawesome.com/5bb16e29b8.js" crossorigin="anonymous"></script>
</head>
<body>


<!--Navbar Section-->
<nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo">VIDSON HOTELS</a>

    <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
        <li class="navbar__item">
            <a href="/" class="navbar__links" id="home-page">Home</a>
        </li>

        <li class="navbar__item">
            <a href="/about" class="navbar__links" id="about-page">About</a>
        </li>

        <li class="navbar__item">
            <a href="/services" class="navbar__links" id="services-page">Services</a>
        </li>

        <li class="navbar__item">
            <a href="/contact" class="navbar__links" id="services-page">Contact Us</a>
        </li>

        <li class="navbar__btn">
            <a href="/user/signup" class="button" id="signup">Sign Up</a>
        </li>
    </ul>
    </div>
</nav>




<section class="services">
    <div class="container">
        <h1>Exceptional Services at Vidson Hotels</h1>
        <div class="service">
            <i class="fas fa-bed"></i>
            <h2>Luxurious Accommodation</h2>
            <p>Indulge in a world of comfort and sophistication. <br>Our spacious and meticulously designed rooms offer a haven of relaxation and serenity.</p>
        </div>
        <div class="service">
            <i class="fas fa-utensils"></i>
            <h2>Exquisite Dining</h2>
            <p>Embark on a culinary journey with our diverse dining options. From fine dining to casual fare,<br> our expert chefs ensure a symphony of flavors to tantalize your taste buds.</p>
        </div>
        <div class="service">
            <i class="fas fa-swimming-pool"></i>
            <h2>Tranquil Spa</h2>
            <p>Escape the demands of everyday life and unwind at our luxurious spa. <br>Our skilled therapists offer a range of treatments and therapies designed to rejuvenate your body and mind.</p>
        </div>
        <div class="service">
            <i class="fa-solid fa-dumbbell"></i>
            <h2>Fitness Center</h2>
            <p>Stay active and energized in our state-of-the-art fitness center.<br> With modern equipment and expert guidance, maintaining your wellness goals is effortless.</p>
        </div>
    </div>
</section>






 <!-- Footer Section -->
 <div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>About Us</h2>
                <a href="/">How it works</a>
                <a href="/">Testimonials</a>
                <a href="/">Careers</a>
                <a href="/">Terms of Service</a> 
            </div>

            <div class="footer__link--items">
                <h2>Contact Us</h2>
                <a href="/">Contact</a>
                <a href="/">Support</a>
                <a href="/">Destinations</a>
            </div>
      </div>

      <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Videos</h2>
                <a href="/">Submit Video</a>
                <a href="/">Ambassadors</a>
                <a href="/">Agency</a>
            </div>

            <div class="footer__link--items">
                <h2>Social Media</h2>
                <a href="/">Instagram</a> <a href="/">Facebok</a>
                <a href="/">Youtube</a>  <a href="/">Twitter</a> 
            </div>
        </div>


        
    </div>
    <section class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="footer__logo">VIDSON HOTELS</a>
            </div>
            <p class="website__rights">© VIDSON HOTELS 2022. All rights reserved</p>
            <div class="social__icons">
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>  
            </div>
        </div>
    </section>
</div>



    
</body>
</html>